scope: postgres
namespace: /db/
name: database-3

restapi:
  listen: 192.168.56.53:8008
  connect_address: 192.168.56.53:8008

etcd:
  hosts: 192.168.56.51:2379,192.168.56.52:2379,192.168.56.53:2379

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication replicator 127.0.0.1/32 md5
    - host replication replicator 192.168.56.51/0 md5
    - host replication replicator 192.168.56.52/0 md5
    - host replication replicator 192.168.56.53/0 md5
    - host all all 0.0.0.0/0 md5

postgresql:
  listen: 192.168.56.53:5432
  connect_address: 192.168.56.53:5432
  data_dir: /var/lib/postgresql/16/main
  bin_dir: /usr/lib/postgresql/16/bin
  authentication:
    replication:
      username: replicator
      password: OtusHL
    superuser:
      username: postgres
      password: OtusHL